[submodule "GitInPracSubModule"]
	path = GitInPracSubModule
	url = https://github.com/annice/GitInPracSubModule.git
[submodule "submodule"]
	path = submodule
	url = https://github.com/annice/GitInPracSubModule.git
